<div class="wrapper">
  <div class="name__page">
    <span>Authors Page</span>
    <img (click)= "create()" class = "img__button" src="assets/images/add-button-inside-black-circle.svg" alt="add">
  </div>
  <div>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Author Name" [formControl] = "searchByName" (keyup.enter)="filterAuthors()">
      </mat-form-field>
      <img (click)= "filterAuthors()" class = "img__button" src="assets/images/magnifying-glass.svg" alt="search"><br>
    </div>
<div>
    <table mat-table [dataSource]="items" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="id">
          <th class="row id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td class="row id" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="row name" mat-header-cell *matHeaderCellDef> Name </th>
          <td class="row name" mat-cell *matCellDef="let element">{{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
            <th class="row product" mat-header-cell *matHeaderCellDef> Product </th>
            <td class="row product" mat-cell *matCellDef="let element">
              <span *ngFor="let printingEditionsName of element.printingEditionsName">
                {{printingEditionsName}}<br>
              </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="editAndRemove">
            <th class="row editAndRemove" mat-header-cell *matHeaderCellDef></th>
            <td class="row editAndRemove" mat-cell *matCellDef="let element">
                <div class="td__container">
                  <img class = "img__button" src="assets/images/pencil-edit-button.svg" alt="edit" (click)= "edit(element)">
                  <img class = "img__button" src="assets/images/remove.svg" alt="remove" (click)= "remove(element)">
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [length] = "amountPages"
        [pageSize] = "pageSizeOptions[1]"
        [pageIndex]="pageIndex"
        [pageSizeOptions] = "pageSizeOptions"
        (page)="pageEvent = getServerData($event)" showFirstLastButtons >
      </mat-paginator>
      </div>
