<div class="head">
  <span class = "page__name">Catalog</span>
  <mat-form-field class="example-full-width" [formGroup]="homeForm">
    <input matInput placeholder="Product Name" formControlName = "searchByName" (keyup.enter)="filterPrintingEditions()">
  </mat-form-field>
</div>

<div class = "wrapper">
  <div class = "left">
    <div class="categories" [formGroup]="homeForm">
      <p>Categories</p>
      <mat-select multiple formControlName = "typePrintingEdition">
        <mat-option
          *ngFor="let item of typePrintingEditionItems"
          [value]="item"
          [disabled]="homeForm.value.typePrintingEdition.length === 1 && homeForm.value.typePrintingEdition[0] === item"
          (click) = "filterPrintingEditions()">{{item}}
        </mat-option>
      </mat-select>
      <p></p>
    </div>
    <div class = "price">
      <p>Price</p>
      <div class="min__max" [formGroup]="homeForm">
      <mat-form-field class="price">
        <input matInput placeholder="Min" formControlName = "minPrice">
      </mat-form-field>
      <mat-form-field class="price">
        <input matInput placeholder="Max" formControlName = "maxPrice">
      </mat-form-field> {{homeForm.value.currency}}
      <button mat-raised-button (click) = "filterPrintingEditions()">OK</button>
      </div>
    </div>
  </div>
  <div class = "right">
    <div class = "head__right">
      <span>Currency</span>
      <mat-form-field class = "currency" [formGroup]="homeForm">
        <select matNativeControl required formControlName = "currency">
          <option *ngFor= "let item of currencys" [value]="item" (click) = "selectCurrency()">{{item}}</option>
        </select>
      </mat-form-field>
      <span>Sort by</span>
      <mat-form-field [formGroup]="homeForm">
        <select matNativeControl required formControlName = "sortBy">
          <option value="asc" (click) = "sortData()">Price: Low to High</option>
          <option value="desc" (click) = "sortData()">Price: High to Low</option>
        </select>
      </mat-form-field>
    </div>
      <mat-grid-list cols="3" rowHeight="1.5:1">
      <mat-grid-tile *ngFor= "let item of items">
        <div (click) = "rout(item)">
        <img src="assets/images/book.svg" class="form__logo" alt="book"><br>
        <span class = "title">{{item.title}}</span><br>
        <span *ngFor= "let author of item.authors.items">{{author.name}}, </span><br>
        <span class = "price__span">{{item.price}} {{homeForm.value.currency}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<mat-paginator
  [length] = "countPrintingEditions"
  [pageSize] = "pageSizeOptions[0]"
  [pageIndex]="pageIndex"
  [pageSizeOptions] = "pageSizeOptions"
  (page)="pageEvent = getServerData($event)" showFirstLastButtons>
</mat-paginator>
