* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
button {
  height: 30px;
}

.catalog {
  margin: 20px;
}
.form {
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
  margin-left: 5%;
  margin-top: 5%;
}
.form__logo {
  width: 100px;
}
.form__caption {
  text-align: left;
}

.form__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.form__field {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  outline: none;
  padding-left: 10px;
}

.form__signInButton {
  padding-left: 20px;
  padding-right: 20px;
}
.form__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.form__signUpButton {
  max-width: 250px;
  width: 100%;
  margin-top: 5px;
}

.img__edit{
  width: 25px;
  height: 25px;
  vertical-align: top;
}

#edit {
  display: none;
}
