<div class="wrapper">
<h2>Catalog</h2>
<div class = "book__add__cart">
  <div class = "book">
  <img src="assets/images/book.svg" alt="book"><br>
  <div class="title__author">
    <h3>{{printingEdition.title}}</h3>
    <p>(Author)</p>
  </div>
  </div>
  <div class="add">
    <div class="quantity">
        <div>
        Qty: <input matInput [formControl] = "quantity">
        </div>
      <span class="price">{{printingEdition.price * quantity.value}}$</span>
  </div><br>
  <button mat-raised-button (click)="add()">Add to Cart</button>
  </div>
  </div>
  <div class="description ">
    {{printingEdition.description}}
  </div>
  </div>


