<div id = "edit">
    <div class = "header__modal">
      <h2>Add new Product</h2>
    </div>
  </div>

   <div class="wrapper" [formGroup] = "printingEditionManagementForm">
      <div class="name__page">
        <span>Product mangement</span>
        <img class = "img__button" src="assets/images/add-button-inside-black-circle.svg" alt="add" (click) = "create()">
      </div>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Min price" formControlName = "minPrice">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
       <input matInput placeholder="Max price" formControlName = "maxPrice">
      </mat-form-field><br>

      <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Product Name" formControlName = "searchByName" (keyup.enter)="filterPrintingEditions()">
        </mat-form-field><br>
        <button mat-raised-button (click)= "filterPrintingEditions()">Find</button><br><br>
      </div>

    <table mat-table [dataSource]="items" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

        <ng-container matColumnDef="id">
          <th class="row id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td class="row id" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="row name" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td class="row name" mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th class="row description" mat-header-cell *matHeaderCellDef> Description </th>
            <td class="row description" mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th class="row category" mat-header-cell *matHeaderCellDef>
              <mat-select multiple formControlName = "typePrintingEdition">
                <mat-option
                  *ngFor="let item of typePrintingEditionItems"
                  [value]="item"
                  [disabled]="printingEditionManagementForm.value.typePrintingEdition.length === 1 && printingEditionManagementForm.value.typePrintingEdition[0] === item"
                  (click) = "filterPrintingEditions()">{{item}}
              </mat-option>
              </mat-select>
            </th>
            <td class="row category" mat-cell *matCellDef="let element"> {{typePrintingEditionItems[element.productType - 1]}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th class="row author" mat-header-cell *matHeaderCellDef> Author </th>
            <td class="row author" mat-cell *matCellDef="let element">
                <span *ngFor= "let author of element.authors.items">
                    {{author.name}}<br>
                  </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th class="row price" mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td class="row price" mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="editAndRemove">
            <th class="row editAndRemove" mat-header-cell *matHeaderCellDef></th>
            <td class="row editAndRemove" mat-cell *matCellDef="let element">
                <div class="td__container">
                  <img class = "img__button" src="assets/images/pencil-edit-button.svg" alt="edit" (click)= "edit(element)">
                  <img class = "img__button" src="assets/images/remove.svg" alt="remove" (click)= "remove(element)">
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [length] = "countPrintingEditions"
        [pageSize] = "pageSizeOptions[1]"
        [pageIndex]="pageIndex"
        [pageSizeOptions] = "pageSizeOptions"
        (page)="pageEvent = getServerData($event)" showFirstLastButtons >
    </mat-paginator>
  </div>
