<!-- <p>Dear new First Name, Last Name, Thank You for your registration</p>
<button>Continue</button> -->
<div class = "wrapper">
<div class = "head">
  <h1>Confirm your email address</h1>
</div>
  <span>We have sent an email with a confirmation link to your email adress.
  In order to complete the sign-up process, please click
  the confirmation link.
  </span><br><br>
  If you do not receive a confirmation email, please check
  your spam floder. Also, please verify that you
  entered a valid email adress in our sign-up form.
</div>
