  <div class="wrapper">
    <div class="name__page">
      <span>My Orders</span>
    </div>
  <div>
      <table mat-table [dataSource]="items" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th class="row id" mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
            <td class="row id" mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th class="row row2" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td class="row row2" mat-cell *matCellDef="let element">{{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="product">
              <th class="row row3" mat-header-cell *matHeaderCellDef> Product </th>
              <td class="row row3" mat-cell *matCellDef="let element">
                  <span *ngFor="let orderItem of element.orderItems">{{typePrintingEditionItems[orderItem.type - 1]}}<br></span>
              </td>
          </ng-container>

          <ng-container matColumnDef="title">
              <th class="row row3" mat-header-cell *matHeaderCellDef> Title </th>
              <td class="row row3" mat-cell *matCellDef="let element">
                  <span *ngFor="let orderItem of element.orderItems">{{orderItem.title}}<br></span>
              </td>
          </ng-container>

          <ng-container matColumnDef="qty">
              <th class="row row3" mat-header-cell *matHeaderCellDef> Qty </th>
              <td class="row row3" mat-cell *matCellDef="let element">
                  <span *ngFor="let orderItem of element.orderItems">{{orderItem.count}}<br></span>
              </td>
          </ng-container>

          <ng-container matColumnDef="orderAmount">
              <th class="row row3" mat-header-cell *matHeaderCellDef mat-sort-header> Order amount </th>
              <td class="row row3" mat-cell *matCellDef="let element">{{element.orderAmount}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          [length] = "count"
          [pageSize] = "pageSizeOptions[1]"
          [pageIndex]="pageIndex"
          [pageSizeOptions] = "pageSizeOptions"
          (page)="pageEvent = getServerData($event)" showFirstLastButtons>
        </mat-paginator>
