<div class="wrapper">
    <h2>User mangement</h2>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" [formControl] = "searchByName" (keyup.enter)="filterUsers()">
        </mat-form-field>
        <img (click)="filterUsers()" class = "img__button" src="assets/images/magnifying-glass.svg" alt="search"><br>
      </div>
  <div>
      <table mat-table [dataSource]="items" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">\

          <ng-container matColumnDef="userName">
            <th class="row row1" mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td class="row row1" mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="userEmail">
            <th class="row row2" mat-header-cell *matHeaderCellDef mat-sort-header> User Email </th>
            <td class="row row2" mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
              <th class="row row3" mat-header-cell *matHeaderCellDef>
                <mat-select multiple [formControl] = "userStatus">
                  <mat-option *ngFor="let item of userStatusItems" [value]="item"
                  [disabled]="userStatus.value.length === 1 && userStatus.value[0] === item" (click) = "filterUsers()">{{item}}</mat-option>
                </mat-select>
              </th>
              <td class="row row3" mat-cell *matCellDef="let element">
                  <mat-slide-toggle [checked] = "!element.status" (click)="changeUserStatus(element.id)"></mat-slide-toggle>
              </td>
          </ng-container>

          <ng-container matColumnDef="editAndRemove">
              <th class="row row4" mat-header-cell *matHeaderCellDef></th>
              <td class="row row4" mat-cell *matCellDef="let element">
                  <div class="td__container">
                    <img class = "img__button" src="assets/images/pencil-edit-button.svg" alt="edit" (click)= "edit(element)">
                    <img class = "img__button" src="assets/images/remove.svg" alt="remove" (click)= "remove(element)">
                  </div>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
        [length] = "count"
        [pageSize] = "10"
        [pageIndex]="pageIndex"
        [pageSizeOptions] = "[5, 10, 25, 100]"
        (page)="pageEvent = getServerData($event)"
        showFirstLastButtons>
        </mat-paginator>
  </div>
</div>
