<!--
Users Managment<br>
<button (click)="GetUsers()">Get</button>
<table border="1" id = "table">
  <tr>
   <th>User Name</th>
   <th>User Email</th>
   <th>Status</th>
   <th></th>
  </tr>
<tr *ngFor="let item of items">
  <td>{{item.userName}}</td><td>{{item.email}}</td>
  <td *ngIf="item.status">
  <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
  </td>
  <td *ngIf="!item.status">
      <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
  </td>
<td></td>
</tr>
 </table>
-->
<div id = "back"></div>
<div id = "edit">
  <div class = "header__modal">
    <h2>Edit profile - {{user.userName}}</h2>
  </div>
  <div class = "images__modal">
    <img src="assets/images/man-user.svg" alt="man-user" class = "man-user">
    <img src="assets/images/pencil-edit-button.svg" alt="edit" class = "img__edit">
  </div>
  <div class="form__row">
    <span>First name</span>
    <input type="text" name="first name" class="form__field" title="Enter your first name" placeholder="First name" value="{{user.userName}}" [formControl] = "firstName">
  </div>
  <div class="form__row">
    <span>Last name</span>
    <input type="text" name="last name" class="form__field" title="Enter your last name" placeholder="Last name" [formControl] = "lastName">
  </div>
  <div class="modal__buttons">
    <button class="modal__button" (click)="cansel()">Cansel</button>
    <button class="modal__button" (click)="saveEditProfile()">Save</button>
  </div>
</div>

<div class="wrapper">
    <input type="text" placeholder="Search by name" [formControl] = "searchByName"><br>
    <span>Sort type </span>
    <select [formControl] = "sortType">
        <option>User name</option>
        <option>User Email</option>
      </select><br>
    <span>Sorting direction </span>
    <select [formControl] = "sortingDirection">
        <option>Low To High</option>
        <option>High To Low</option>
    </select><br>
    <span>User status </span>
    <select [formControl] = "userStatus">
        <option>All</option>
        <option>Active</option>
        <option>Blocked</option>
    </select><br>
    <button (click)="GetUsers()">Ok</button>
  <h2>User mangement</h2>
  <table>
      <thead class="header">
          <tr class="header__row">
              <th class="row row1">
                  <div class="th__container">
                      <button class="trigger-multiselect">User name</button>
                      <div class="multiselect"></div>
                  </div>
              </th>
              <th class="row row2">
                  <div class="th__container">
                      <button>User Email</button>
                  </div>
              </th>
              <th class="row row3">
                  <div class="th__container">
                      <button class="trigger-multiselect" (click)="modal()">Status</button>
                      <div class="multiselect" id = "m"></div>
                  </div>
              </th>
              <th class="row row4"></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of items">
              <td class="row row1">{{item.userName}}</td>
              <td class="row row2">{{item.email}}</td>
              <td *ngIf="item.status" class="row row3">
                  <input type="checkbox" class="checkbox" id="{{item.id}}" checked (click)="ChangeUserStatus(item.id)">
                  <label for="{{item.id}}"></label>
              </td>
              <td *ngIf="!item.status" class="row row3">
                <input type="checkbox" class="checkbox" id="{{item.id}}" (click)="ChangeUserStatus(item.id)">
                <label for="{{item.id}}"></label>
              </td>
              <td class="row row4">
                  <div class="td__container">
                    <img class = "img__button" src="assets/images/pencil-edit-button.svg" alt="edit" (click)="Edit(item)">
                    <img class = "img__button" src="assets/images/remove.svg" alt="remove" (click)="Remove(item.id)">
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
