/*table {
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
  width: 80%;
}

table, th, td {
  height: 50px;
  border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.tf{
  height: 100px;
}
th {
  background-color: rgb(204, 204, 204);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(106, 168, 79);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border: solid 2px black;
  border-radius: 34px;
}

.slider.round:before {
  border: solid 2px black;
  border-radius: 50%;
}
*/
*{
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  margin: 50px auto 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background-color: rgb(204, 204, 204);
}
.th__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.td__container
{
  margin-top: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.th__container > button {
  background-color: transparent;
  border: none
}
tbody > tr:nth-child(2n+1) {
  background-color: rgb(238, 238, 238);
}
.row {
  border-right: 1px solid black;
}
.row1 {
  width: 40%;
}
.row2 {
  width: 41%;
}
.row3 {
  width: 15%;
}
td.row3 {
  text-align: center;
}
.row4 {
  width: 4%;
}
.multiselect {
  display: none;
  width: 100%;
  height: 134px;
  position: absolute;
  top: 100%;
  background-color: white;
}

#back
{
  display: none;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 1;
}

#edit
{
  display: none;
  width: 25%;
  height: 45%;
  position: absolute;
  top: 7,5%;
  left: 37.5%;
  background-color: white;
  border: 2px solid black;
  z-index: 2;
}

.header__modal
{
  width: 100%;
  text-align: center;
}

.images__modal
{
  margin-left: 50px;
}

.img__edit
{
  vertical-align: top;
}

.man-user
{
  width: 100px;
  height: 100px;
}

.form__row {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 5%;
}

.form__field {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  outline: none;
  padding-left: 10px;
}

.modal__buttons
{
  margin-top: 20px;
  width: 60%;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
}

.modal__button {
  height: 30px;
  border: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background-color: gainsboro;
  transition: background-color 0.5s;
  outline: none;
}
.modal__button:hover {
  background-color: greenyellow;
}
.modal__button:active {
  border: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
  /* border: 2px solid black; */
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 14px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
  border: 1px solid black;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
  border: 1px solid black;
}
.checkbox:checked + label:before {
  background: rgb(106, 168, 79);
}
.checkbox:checked + label:after {
  left: 26px;
}

.img__button, .img__edit{
  width: 25px;
  height: 25px;
}
