<div class="catalog">
    <p class="catalog__text">Catalog</p>
  </div>
  <div action="#" class="form">
    <img src="assets/images/man-user.svg" class="form__logo" alt="person">
    <h2 class="form__caption">Password assistance</h2><br>
    <p class="form__caption">Enter the email address associated with your account.</p>
    <div class="form__row">
        <h4>E-mail</h4>
        <mat-form-field class="form__field">
          <input matInput placeholder="Email"  [formControl] = "email">
          <mat-error>
            Email incorrect
          </mat-error>
        </mat-form-field>
    </div>
  </div>
    <footer class="form__footer">
        <button [disabled] = "!email.valid" mat-raised-button class="form__signInButton pointer button" (click)="continue()">Continue</button>
    </footer>
