<div class="catalog">
    <p class="catalog__text">Catalog</p>
  </div>
  <div action="#" class="form">
    <img src="assets/images/man-user.svg" class="form__logo" alt="person">
    <h2 class="form__caption">Password assistance</h2><br>
    <p class="form__caption">Enter the email address associated with your account.</p>
    <div class="form__row">
        <h4>E-mail</h4>
        <input type="email" name="email" class="form__field" title="Enter your email" [formControl] = "email" placeholder="Email">
    </div>
  </div>
    <footer class="form__footer">
        <button class="form__signUpButton pointer button" (click)="continue()">Continue</button>
    </footer>
