<!-- Order managment<br>
<button (click)="GetOrders()">Get</button>
<button mat-raised-button>MAT BAT</button>
<table border="1" id = "table">
  <tr>
   <th>Order</th>
   <th>Date</th>
   <th>User name</th>
   <th>User Email</th>
   <th>Product</th>
   <th>Title</th>
   <th>Qty</th>
   <th>Order amount</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.id}}</td>
    <td>{{item.date}}</td>
    <td>{{item.userName}}</td>
    <td>{{item.userEmail}}</td>
    <td><span *ngFor="let orderItem of item.orderItems">{{orderItem.type}}<br></span></td>
    <td><span *ngFor="let orderItem of item.orderItems">{{orderItem.title}}<br></span></td>
    <td><span *ngFor="let orderItem of item.orderItems">{{orderItem.count}}<br></span></td>
    <td>{{item.orderAmount}}</td>
  </tr>
 </table>
 <mat-paginator> -->
    <div class="wrapper">
        <div class="name__page">
          <span>Order managment</span>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name, User Email" [formControl] = "search" (keyup.enter)="filterOrders()">
            </mat-form-field>
            <img (click)= "filterOrders()" class = "img__button" src="assets/images/magnifying-glass.svg" alt="search"><br>
          </div>
      <div>
          <table mat-table [dataSource]="items" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th class="row id" mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
                <td class="row id" mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="date">
                <th class="row" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td class="row" mat-cell *matCellDef="let element">{{element.date}} </td>
              </ng-container>

              <!-- Product Column -->
              <ng-container matColumnDef="userName">
                  <th class="row" mat-header-cell *matHeaderCellDef mat-sort-header> User name </th>
                  <td class="row" mat-cell *matCellDef="let element">{{element.userName}} </td>
              </ng-container>

              <ng-container matColumnDef="userEmail">
                  <th class="row" mat-header-cell *matHeaderCellDef mat-sort-header> User Email </th>
                  <td class="row" mat-cell *matCellDef="let element">{{element.userEmail}} </td>
              </ng-container>

              <ng-container matColumnDef="product">
                  <th class="row" mat-header-cell *matHeaderCellDef> Product </th>
                  <td class="row" mat-cell *matCellDef="let element">
                      <span *ngFor="let orderItem of element.orderItems">{{typePrintingEditionItems[orderItem.type - 1]}}<br></span>
                  </td>
              </ng-container>

              <ng-container matColumnDef="title">
                  <th class="row" mat-header-cell *matHeaderCellDef> Title </th>
                  <td class="row" mat-cell *matCellDef="let element">
                      <span *ngFor="let orderItem of element.orderItems">{{orderItem.title}}<br></span>
                  </td>
              </ng-container>

              <ng-container matColumnDef="qty">
                  <th class="row row3" mat-header-cell *matHeaderCellDef> Qty </th>
                  <td class="row row3" mat-cell *matCellDef="let element">
                      <span *ngFor="let orderItem of element.orderItems">{{orderItem.count}}<br></span>
                  </td>
              </ng-container>

              <ng-container matColumnDef="orderAmount">
                  <th class="row row3" mat-header-cell *matHeaderCellDef mat-sort-header> Order amount </th>
                  <td class="row row3" mat-cell *matCellDef="let element">{{element.orderAmount}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator
              [length] = "count"
              [pageSize] = "pageSizeOptions[1]"
              [pageIndex]="pageIndex"
              [pageSizeOptions] = "pageSizeOptions"
              (page)="pageEvent = getServerData($event)" showFirstLastButtons>
            </mat-paginator>
