<div class="catalog">
  <p class="catalog__text">Catalog</p>
</div>
<div action="#" class="form">
  <img src="assets/images/man-user.svg" class="form__logo" alt="person">
  <h2 class="form__caption">Sign-In</h2>
  <div class="form__row">
      <span>E-mail</span>
      <input type="email" name="email" class="form__field" title="Enter your email" [formControl] = "email" placeholder="Email">
  </div>
  <div class="form__row">
      <span>Password</span>
      <a href="http://localhost:4200/account/forgot-password" class="forgotLink">Forgot your password?</a>
      <input type="password" name="password" class="form__field" title="Enter your password" [formControl] = "password" placeholder="Password">
  </div>
  <div class="form__row">
      <label class="pointer">
          <input type="checkbox" name="remember">
          <span>Remember me</span>
      </label>
      <input type="submit" class="form__signInButton pointer button" value="Sign In" (click)="signIn(user)">
  </div>
</div>
  <footer class="form__footer">
      <span>New to Bock Publishing Company?</span>
      <button class="form__signUpButton pointer button">SignUp</button>
  </footer>
