<div class="catalog">
  <p class="catalog__text">Catalog</p>
</div>
<div action="#" class="form">
  <form [formGroup]="registerForm">
  <img src="assets/images/man-user.svg" class="form__logo" alt="person">
  <h2 class="form__caption">Create account</h2>
  <div class="form__row">
    <span>User name</span>
    <mat-form-field class="form__field">
      <input matInput placeholder="User name"  formControlName = "userName">
      <mat-error>
        This field must be filled
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form__row">
      <span>Your First name</span>
      <mat-form-field class="form__field">
        <input matInput placeholder="First name"  formControlName = "firstName">
        <mat-error>
          This field must be filled
        </mat-error>
      </mat-form-field>
  </div>
  <div class="form__row">
    <span>Your Last name</span>
    <mat-form-field class="form__field">
      <input matInput placeholder="Last name"  formControlName = "lastName">
      <mat-error>
        This field must be filled
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form__row">
    <span>E-mail</span>
    <mat-form-field class="form__field">
      <input matInput placeholder="Email"  formControlName = "email">
      <mat-error>
        Email incorrect
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form__row">
    <span>Password</span>
    <mat-form-field class="form__field">
      <input matInput placeholder="At least 8 characters" type="password" formControlName = "newPassword" required>
      <mat-error>
        Password incorrect
      </mat-error>
    </mat-form-field>
</div>
<div class="form__row">
  <span>Confirm password</span>
  <mat-form-field class="form__field">
    <input matInput placeholder="At least 8 characters" type="password" formControlName = "confirmPassword" [errorStateMatcher]="matcher">
    <mat-error *ngIf="registerForm.hasError('notSame')">
      Passwords do not match
    </mat-error>
  </mat-form-field>
</div>

  <div class="form__footer">
      <button [disabled] = "!registerForm.valid" mat-raised-button class="form__signUpButton pointer button" (click)="signUp()">Sign Up your account</button>
  </div>
</form>
  <div class="form__row">
    <span>
      Already have an account?
      <a href="http://localhost:4200/account/login" class="forgotLink">Sign-In</a>
    </span>
  </div>
</div>
