<header class="header">
  <a href="#" class="header__link">
      <img src="assets/images/open-book-book-svgrepo-com.svg" class="header__logo" alt="logotype">
      <h1 class="header__title">Book Publishing Company</h1>
  </a>
  <button (click) = "logOut()">LogOut</button>
  <a href="http://localhost:4200/user/users">User mangement</a>;
  <a href="http://localhost:4200/printing-edition/printing-edition-management">Product mangement</a>;
  <a href="http://localhost:4200/author/authors">Authors Page</a>;
  <a href="http://localhost:4200/order/order-managment">Order managment</a>
</header>
